# MinIO AIStor Docker image (required)
MINIO_IMAGE=docker.io/praveenminio/eos:alerts

# MinIO license key (required)
# Example: MINIO_LICENSE=$(cat /path/to/minio.license)
MINIO_LICENSE=eyJhbGciOiJFUzM4NCIsInR5cCI6IkpXVCJ9.eyJhaWQiOjMsImFwaUtleSI6ImU1NDI1MGU2LWU2YjgtNDIyOS03NWE3LWQ0MTFiMmVlZjQyOSIsImNhcCI6MTAwLCJleHAiOjE4NjQ2ODQ3OTksImdycCI6MSwiaWF0IjoxLjc3MTQwMDk0OTIzMjc1MTUwOGU5LCJpc3MiOiJzdWJuZXRAbWluLmlvIiwibGlkIjoiMTNhYTk2ZWYtNTZmYi00OGUzLTgzZjItMzY2ZmZlYjU3ODAzIiwib3JnIjoiVGVzdE9yZyIsInBsYW4iOiJFTlRFUlBSSVNFLUxJVEUiLCJyb3AiOjIsInN1YiI6InN1Ym5ldEBtaW4uaW8iLCJ0cmlhbCI6ZmFsc2V9.EU0r2eGn7TUe6A90YBuNS2Z_TmqkBecw2V68cJWVKCUv7VDAEZFAuzubM3gR3EGf0levNb_5RYFUgvlUY5xEJ8_dt0gbNRkL2GAcEGxf5-LUiowu6x8iGMpGSBeMysV8

# MinIO credentials
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Subnet settings (optional, for SUBNET alert target testing)
_MINIO_SUBNET_URL=http://host.docker.internal:9000
MINIO_CALLHOME_ENABLE=off
